.body {
  background-color: #021d2b;
  /* height: 1100px; */
}

.bg-opacity {
  position: relative;
  background-color: rgb(0, 0, 0);
  /* opacity:0.7; */
  margin: 15px 0px 15px 0px;
}

.bg-opacity img {
  width: 100%;
}


.contents {

  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  color: #fff;
  height: auot;
  background-color: #031d2b99;
  height: 100%;
}

.contents h1 {
  /* margin:  0px 15px;
    padding: 0px 15px; */

  top: 70%;
  left: 2%;
  position: absolute;
}

.contents p {
  /* margin:  0px 15px;
    padding: 0px 15px; */

  top: 88%;
  left: 2%;
  position: absolute;
}

.text-white-heading {
  color: #fff !important;
}


.bg-buy-sale-client {
  background-color: #dcecf5;
  height: 25em;
  margin: 0em 0 9em 0;
  width: 100%;
}

.testimonials-heading-info {
  margin: 6em 0px 0px 0px;
}

.testimonials-heading {
  margin-top: 0px;
  margin-bottom: 10%;
  padding-top: 0px;
  padding-bottom: 10px;
  /* font-family: Montserrat, sans-serif; */
  /* color: #021d2b; */
  font-size: 65px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.testimonials-heading::after {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}

.testimonials-heading-br {
  margin: 0px 0px 0px 25%;
}

.sold-paragraph {
  margin-right: 60px;
  margin-bottom: 0px;
  font-family: Cardo, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.span-info {
  font-size: 14px;
}

.alignItemCenter {
  align-self: center;
}

@media screen and (max-width: 780px) and (min-width:430px) {
  .content h1 {
    top: 60%;
    left: 2%;
    position: absolute;
    font-size: 20px;
  }

  .content p {
    top: 80%;
    left: 2%;
    position: absolute;
    font-size: 7px;
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .testimonials-heading {

    font-size: 35px;

  }

  .testimonials-heading-info {
    margin: 2em 0px 0px 0px;
  }

}